<!DOCTYPE html>
<html lang="ko">

<head>
<link rel="stylesheet" href=" {{ url_for('static', filename='css/css template.css') }}">
</head>

<body>
    <center>
    <div>
	<br><br><br><br><br><br>
       <h1 align="center">아이디 찾기</h1><br><br>
	<hr>
        <form action="/findid/" method="POST">
	<div>
	<br><br>
	    <b class="name">NAME</b><br><br>
            <input type="text" class="text" id="username" name="name" placeholder="    이름을 입력해주세요.">
	<br><br>
        </div>
        <div>
	<b class="name">H.P</b><br><br>
            <input class="text" type="text" id="password" name="tel" placeholder="    전화번호를 입력해주세요."><br><br>  
        </div>
	<br>
        </div>
        <div>
	<br>
            <button type="submit" class="sign_up" >아이디 찾기</button>
</form>
	<br>
	<br>
	    <button class="sign_up" onclick="location.href='/login'" >처음으로</button>
	 <br>
        </div>
    </div>
    </center>
</body>

</html>